.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.load-more {
  flex: 1 1 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;

  button {
    padding: 0.7rem 1rem;
    background-color: var(--secundary-color);
    border-radius: 16px;
    border: none;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}
